<h1>Bienvenido {{username}}.</h1>

<section>
    <p>Usuario: {{username}}</p>
    {{#if photo}}
    <img class="userimage" src="{{photo}}" alt="{{username}}">
    <p> <small>Si quieres cambiar tu imagen de perfil, haz click aquí:</small></p>
    {{else}}
    <p>Puedes añadir imagen aqui</p>
    {{/if}}
    <form action="/profile/add-image" method="POST" enctype="multipart/form-data">
        <input type="file" name="photoupload"><br>
        <input type="submit" value="Save"><br>
    </form>
    <br>
    <div class="container">
        <div class="row">
            <div class="col md-6">
                <h2>Estas son tus noticias favoritas</h2>
            </div>
            <div class="col md-6">
                <h2>Estos son tus comentarios</h2>
            </div>
        </div>
    </div>

</section>
{{!-- {{#each user}}
<p>{{username}}</p>
{{/each}} --}}