{{#each favNews}}
<div class="col-md-6">
    <img class="cardsProfile" src="{{this.image}}" alt="{{this.title}}">
    <h4>{{this.title}}</h4>
    {{this.description}}
    <a class="fav-image" favorite id="{{idNew}}">
        <div class="fav-link">
            <figure><img style="width: 10%;" class="icon" src="../../images/filled_star.png" alt="add-fav">
            </figure>
        </div>
    </a>
    <hr>
</div>
{{/each}}