<div class="col-md-4">


    <div class="newsCard">
        <div class="container fixed">
            <a href="{{url}}">
                <figure><img class="image" src="{{image}}" alt="News image"></figure>
            </a>
            <h4 class="titleNew">{{title}}</h4>
            <p class="description">{{description}}</p>

            <div class="row">
                <div class="col-md-8">
                    <a class="link" href="{{url}}">Read the new</a>
                </div>
                <div class="col-md-4">
                    <a class="fav-image" {{#if favorite}} favorite {{/if}} id="{{id}}">
                        <div class="fav-link">
                            <figure><img class=" icon" src="../../images/filled_star.png" alt="add-fav">
                            </figure>
                        </div>
                        <div class="quit-fav-link">
                            <figure><img class="icon" src="../../images/empty-star.png" alt="quit-fav"></figure>
                        </div>
                    </a>
                </div>
                <a href="/comments/create-comments/{{id}}" class="createComment col-md-12">Create your comment</a>
            </div>
        </div>
        <br>
    </div>

</div>