<h1>Asi creas un comment</h1>

<figure>
    <img src="{{image}}" class="imgComments" alt="News image">
</figure>

<h2>{{title}}</h2>

<h5>{{description}}</h5>

<img class="imgComments" href="{{url}}">

<div>
    <a href="{{url}}">Lee la noticia completa</a><br>
</div>
<br>

<form id="commentFrom">
    <div>
        <label for="the-comment-input"> Comenta: </label>
        <input id="commentInfo" dataid="{{id}}" type="text" name="comment" class="the-name">
    </div>

    <button> Comment </button>
</form>

<script src="/javascripts/add-news.js"></script>
<script src="/javascripts/comments.js"></script>