<div class="col-md-4 newsCard">

    <figure>
        <img src="{{image}}" alt="News image">
    </figure>

    <h2>{{title}}</h2>

    <h5>{{description}}</h5>

    <a href="{{url}}">Read the new</a>

    <a href="/comments/create-comments/{{id}}">Crea tu comentario</a>

    <br>

</div>