<div class="col-md-4">

    <div class="newsCard">
        <a href="{{url}}">
            <figure><img src="{{image}}" alt="News image"></figure>
        </a>
        <h2>{{title}}</h2>
        <h5>{{description}}</h5>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <a clas="link" href="{{url}}">Read the new</a>
                </div>
                <div class="col-md-4">
                    <a class="fav-image" favorite="{{favorite}}">
                        <div class="fav-link" id="{{id}}">
                            <figure><img class="icon" src="../../images/filled_star.png" alt="add-fav"></figure>
                        </div>
                        <div class="quit-fav-link" id="{{id}}">
                            <figure><img class="icon" src="../../images/empty-star.png" alt="quit-fav"></figure>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <a href="/comments/create-comments/{{id}}">Crea tu comentario</a>

        <br>


    </div>

</div>